      <div>
        <h1 class="is-h1 header-text">Floral Facts <span class="id-holder" class="hidden"></span></h1>
        <div class="difficulty-holder hidden">
          <span class="difficulty-label">Difficulty: </span>
          <span class="difficulty-level"></span>
        </div>
        <p class="body-text centered-on-responsive">Use the word bank to guess the names of these plants. If you are correct, you will discover a fun fact they have in common!</p>
      </div>
      <div class="puzzle-block fortune-hide">
        <div data-reader="word-bank"></div>
        <div class="word-bank"></div>
      </div>
      <div id="plant-a" class="puzzle-block plant-block">
        <div aria-label="Guess the name of the first plant."></div>
        <div data-reader="plant-intro"></div>
        <div class="plant-frame"></div>
        <div class="plant-name">
          <div data-reader="hint"></div>
          <div class="blank-container"></div>
          <div class="hint">
            <p aria-hidden="true"><span class="is-h4 header-text">Hint:</span><span class="hint-text"></span></p>
          </div>
        </div>
      </div>
      <div id="plant-b" class="puzzle-block plant-block">
        <div aria-label="Guess the name of the second plant."></div>
        <div data-reader="plant-intro"></div>
        <div class="plant-frame"></div>
        <div class="plant-name">
          <div data-reader="hint"></div>
          <div class="blank-container"></div>
          <div class="hint">
            <p><span aria-hidden="true" class="is-h4 header-text">Hint:</span><span class="hint-text"></span></p>
          </div>
        </div>
      </div>
      <div id="fun-fact-instructions">
        <p class="body-text"><span class="is-h2 header-text">Fun Fact</span> Fill in the blanks with the letters from above.</p>
      </div>
      <div id="fun-fact" class="puzzle-block blank-container centered"></div>
      <div class="fortune-hide">
        <div aria-label="Keep reading to check the answers to the puzzle."></div>
        <p class="answer-text rotated-180">
          <span class="bold">ANSWERS:</span>
          <span aria-label="The name of the first plant is"></span>
          <span aria-hidden="true">A is</span>
          <span id="answer-a"></span>
          <span aria-label="The name of the second plant is"></span>
          <span aria-hidden="true">B is</span>
          <span id="answer-b"></span>
          <span aria-label="The fun fact about both plants is"></span>
          <span aria-hidden="true">Fun Fact:</span>
          <span id="answer-fun-fact"></span>
        </p>
      </div>
      <p class="body-text credits-text"></p>