<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Floral Facts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/home.css">
  </head>  
  <body>
    <div class="paper content body-text">
      <h1 class="is-h1 header-text centered">Floral Facts</h1>
      <p>Have a parent, grandparent, or friend who is bored during quarantine? Play this puzzle with them to have fun with some interesting plants!</p>
      <p>Guess the names of two real plants. If you are correct, you will discover a fun fact they have in common!</p>
      <div class="demo-holder centered">
        <a href="/play/1" class="button is-secondary">Try a Puzzle!</a>
      </div>
      <div class="image-holder">
        <div class="plant-frame">  
          <img class="plant-picture" alt="Sketch of a plant with pine-like tips." src="https://cdn.glitch.com/74fd1bd5-4234-47a8-a343-40155bb85adc%2FA9E13A82-D7CE-4148-8F01-19042E288822%201.png?v=1586367976719">
          <img class="plant-picture" alt="Photo of a plant with pine-like tips." src="https://cdn.glitch.com/74fd1bd5-4234-47a8-a343-40155bb85adc%2FOdontonema-callistachyumPurple-Firespike2.jpg?v=1586379750902">
        </div>
        <div class="plant-frame">  
          <img class="plant-picture" alt="Sketch of a plant with five petals." src="https://cdn.glitch.com/74fd1bd5-4234-47a8-a343-40155bb85adc%2Fmoroviaflower.png?v=1586367976620">
          <img class="plant-picture" alt="Photo of a plant with five petals." src="https://cdn.glitch.com/74fd1bd5-4234-47a8-a343-40155bb85adc%2F4506.jpg?v=1586305438681">
        </div>
      </div>
      <p>Check out the latest puzzles below. You can play online or download as an image or printer-friendly PDF.</p>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Puzzle</th>
              <th>Web</th>
              <th>Difficulty</th>
              <th colspan="2">Download</th>
            </tr>
          </thead>
          <tbody>
          {% for puzzle in site.puzzles %}
            {% if puzzle.printerFriendly %}
              {% assign colorType = "B&W" %}
            {% else colorType %}
              {% assign colorType = "Color" %}
            {% endif %}
            <tr>
              <td>{{ puzzle.name }}</td>
              <td><a href="/puzzles/{{ puzzle.slug }}">Play</a></td>
              <td>{{ puzzle.difficulty }}</td>
              <td><a href="/assets/png/{{ puzzle.slug }}.png">PNG</a></td>
              <td><a href="/assets/pdf/{{ puzzle.slug }}.pdf">PDF ({{ colorType }})</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <hr>
      <p class="centered"><a href="/editor">Puzzle Editor</a></p>
    </div>
  </body>
</html>