<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Floral Facts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://floralfacts.github.io/assets/img/logo.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon-dark.png">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/home.css">
  </head>  
  <body>
    <div class="paper content body-text">
      <h1 class="is-h1 header-text centered">Floral Facts</h1>
      <div class="image-holder">
        <img class="plant-picture home-logo" alt="Logo of hand holding a pencil and flower." src="/assets/img/logo.png">
      </div>
      <p>Know someone bored during quarantine? Play this puzzle with them to have fun with some interesting plants!</p>
      <p>Figure out the names of two real plants. If you are correct, you will discover a fun fact they have in common!</p>
      <div class="demo-holder centered">
        <a href="/play/1" class="button">Try a Puzzle!</a>
        <a href="/book" class="button is-secondary">Print the Puzzle Book</a>
      </div>
      <p>Check out the latest puzzles below. You can play online or download as an image or printer-friendly PDF.</p>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Puzzle</th>
              <th>Web</th>
              <th>Difficulty</th>
              <th colspan="2">Download</th>
            </tr>
          </thead>
          <tbody>
          {% assign puzzles = site.play | sort: "name" %}
          {% for puzzle in puzzles %}
            {% if puzzle.printerFriendly %}
              {% assign colorType = "B&W" %}
            {% else colorType %}
              {% assign colorType = "Color" %}
            {% endif %}
            <tr>
              <td>{{ puzzle.name }}</td>
              <td><a href="/play/{{ puzzle.slug }}">Play</a></td>
              <td>{{ puzzle.difficulty }}</td>
              <td><a href="/assets/png/{{ puzzle.slug }}.png">PNG</a></td>
              <td><a href="/assets/pdf/{{ puzzle.slug }}.pdf">PDF ({{ colorType }})</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <hr>
      <p class="centered"><a href="/editor">Puzzle Editor</a></p>
    </div>
  </body>
</html>