<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Floral Facts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://floralfacts.github.io/assets/img/logo.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon-dark.png">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/confetti.css">
    <script src="../assets/js/puzzle.js" defer></script>
  </head>
  <body>
    <div id="lost" class="paper hidden">
      <h1 class="is-h1 header-text">Puzzle Not Found</h1>
        <p class="body-text">Sorry, we couldn't find that puzzle. Do you have the right link?</p>
    </div>
    <div id="page" class="paper">
      <div>
        <div class="link-holder-left">
          <a href="/" class="button is-secondary">Back to Home</a>
        </div>
      </div>
      {% include puzzle_body.html %}
    </div>
    <div class="confetti-container hidden">
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
    </div>
    <div id="raw" class="hidden">{{ page.content | strip_html }}</div>
    <script src="../assets/js/play.js" defer></script>
  </body>
</html>